@import url('reset.css');

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    color: #4f4f4f;
}

.wrapper {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    margin: 0 auto;
    padding: 10px 50px;
    width: 70%;
}
/*HEADER*/
.logo h2 {
    font-size: 42px;
    line-height: 100px;
    color: black;
}

.menu {
    display: block;
}

    .menu ul {
        display: flex;
        background: #4f4f4f;
    }

    .menu li {
        float: left;
        display: inline-block;
        background: #4f4f4f;
    }

        .menu li.active {
            background: #434343;
            border-left: 1px solid white;
            border-right: 1px solid white;
        }

        .menu li:nth-child(3) {
            padding: 0 40px;
        }

    .menu a {
        display: block;
        color: white;
        font-size: 14px;
        text-decoration: none;
        line-height: 40px;
        padding: 0 20px;
    }

    .menu li:first-child {
        padding-right: 40px;
    }
/*MAIN*/
.main {
    padding-top: 40px;
}

.sidebar {
    width: 25%;
    float: left;
    margin-right: 40px;
}

    .sidebar li {
        border: 1px solid #eee;
        line-height: 40px;
    }

        .sidebar li a {
            text-decoration: none;
            color: #4f4f4f;
            padding-left: 20px;
        }

    .sidebar .phones {
        padding-left: 30px;
        color: black;
    }

.main_field {
    width: 70%;
    display: inline-block;
}

.img_item {
    border: 1px solid #eee;
    width: 100%;
    height: 420px;
    background: url('../img/Vel.jpg') center no-repeat;
    margin-bottom: 40px;
}

.main_field p {
    font-size: 13px;
    padding-left: 20px;
    line-height: 20px;
}

/*FOOTER*/
.footer {
    background: lightgray;
    height: 40px;
    display: block;
    line-height: 40px;
    padding: 0 20px;
    margin: 40px 0;
}

.footer_menu {
    float: left;
}

    .footer_menu li {
        float: left;
    }

    .footer_menu a {
        text-decoration: none;
        padding-right: 70px;
        color: #4f4f4f;
    }

.all_right {
    float: right;
}
